NET "oSEC[7]" LOC = D24;
NET "oSEC[6]" LOC = H24;
NET "oSEC[5]" LOC = K24;
NET "oSEC[4]" LOC = L23;
NET "oSEC[3]" LOC = L24;
NET "oSEC[2]" LOC = M24;
NET "oSEC[1]" LOC = N23;
NET "oSEC[0]" LOC = N24;

NET "iCLK" LOC = M21;
NET "inRST" LOC = AE24;

NET "inSTART" LOC = AC24;
NET "inSTOP" LOC = AB24 ;
NET "inCONTINUE" LOC = AA24;