NET "iSW(0)" LOC = W19;
NET "iSW(1)" LOC = Y24;
NET "iSW(2)" LOC = K19;
NET "iSW(3)" LOC = V24;
NET "iSW(4)" LOC = U20;
NET "iSW(5)" LOC = U23;
NET "iSW(6)" LOC = U24;
NET "iSW(7)" LOC = U19;
NET "iSEL" LOC = AB24;
NET "oLED(0)" LOC = N24;
NET "oLED(1)" LOC = N23;
NET "oLED(2)" LOC = M24;
NET "oLED(3)" LOC = L24;
NET "oLED(4)" LOC = L23;
NET "oLED(5)" LOC = K24;
NET "oLED(6)" LOC = H24;
NET "oLED(7)" LOC = D24;
NET "iJOY1" LOC = AA24;
NET "iJOY3" LOC = AC23;